<div class="center">
  <div class="wrapper">
    <div class="body">
      <div class="row">
        <div class="col-md-12">
          <app-login-form
            [message]="loginFailedMessage$ | async"
            [has-error]="loginFailed$ | async"
            [is-submited]="submitLogin$ | async"
            (onValidSubmit)="onValidSubmit($event)"
            (errorSubmit)="onSubmitError($event)"
            [form]="loginForm"
            ></app-login-form>
        </div>
      </div>
    </div>
  </div>
</div>
