<md-toolbar color="primary" class="main-header">
  <div class="ng-theme-wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-10">
        <button (click)="sidemenu.toggle()" md-icon-button>
          <md-icon>menu</md-icon>
        </button>
        <a class="branding">NgTheme</a>
      </div>
      <div class="col-sm-12 col-md-2">
        <button md-icon-button class="pull-right user-menu-button" [mdMenuTriggerFor]="menu">
          <app-user-summary [user]="user$ | async"></app-user-summary>
        </button>

        <button md-icon-button class="pull-right" full-screen>
          <md-icon>crop_free</md-icon>
        </button>

        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="toggle('profile')">
            <md-icon>account_circle</md-icon>

            <span *ngIf="(user$ | async)?.name?.length">{{(user$ | async).name }}</span>
            <span *ngIf="!(user$ | async)?.name?.length">{{(user$ | async).email }}</span>
          </button>
          <button md-menu-item (click)="logout()">
            <md-icon>account_circle</md-icon>
            <span>Logout</span>
          </button>
        </md-menu>
      </div>
    </div>
  </div>

</md-toolbar>
<md-sidenav-container class="app-inner">
  <md-sidenav #sidemenu class="app-sidenav sidenav-panel" [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()">
    <app-navigation></app-navigation>
  </md-sidenav>
  <div class="app-inner-routes">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
