<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-tile [options]="tileOptions">
      <div class="tile-body-template">
        <md-input-container class="ng-theme-full-with">
          <input mdInput [mdDatepicker]="d">
          <button mdSuffix [mdDatepickerToggle]="d"></button>
        </md-input-container>
      </div>
    </app-tile>


    <md-datepicker #d [touchUi]="true"></md-datepicker>
  </div>
  <div class="col-md-12 col-lg-6 col-sm-12">
    <app-tile>
      <div class="tile-body-template">
      <button mdButton (click)="fullScreen()">Full screen</button>
        <img
          class="img-responsive"
          src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="">
      </div>
    </app-tile>
  </div>
</div>
