/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';
.ng-theme-wrapper {
  width:100%;
}

.ng-theme-navigation-image {
  width:40px;
  max-width:40px;
}
.user-menu-button {
  min-width:180px!important;
}
.ng-theme-login-title {
  margin-bottom: 5rem;
}
.ng-theme-login-title h6 {
  font-weight: bold;
}
.ng-theme-full-with{
  width:100%;
}
.ng-theme-color-gray {
  color: #3a405b;
}
.ng-theme-error-color {
  color: red;
}
.ng-theme-flex {
  display: flex;
}
.ng-theme-flex.verticle-aligh {
  vertical-align: middle;
}
.ng-theme-flex.aligh-item-center {
  align-items: center;
}
.ng-theme-flex.aligh-content-center {
  align-content: center;
}
.ng-theme-flex.justify-content-center {
  justify-content: center;
}
.ng-theme-space.ng-theme-left-5 { margin-left:5px; }
.ng-theme-space.ng-theme-left-10 { margin-left:10px; }
.ng-theme-space.ng-theme-left-15 { margin-left:15px; }
.ng-theme-space.ng-theme-left-20 { margin-left:20px; }
.ng-theme-space.ng-theme-left-25 { margin-left:25px; }
.ng-theme-space.ng-theme-left-30 { margin-left:30px; }
.ng-theme-space.ng-theme-left-50 { margin-left:50px; }
.ng-theme-space.ng-theme-right-5 { margin-right:5px; }
.ng-theme-space.ng-theme-right-10 { margin-right:10px; }
.ng-theme-space.ng-theme-right-15 { margin-right:15px; }
.ng-theme-space.ng-theme-right-20 { margin-right:20px; }
.ng-theme-space.ng-theme-right-25 { margin-right:25px; }
.ng-theme-space.ng-theme-right-30 { margin-right:30px; }
.ng-theme-space.ng-theme-right-50 { margin-right:50px; }
.ng-theme-space.ng-theme-top-5 { margin-top:5px; }
.ng-theme-space.ng-theme-top-10 { margin-top:10px; }
.ng-theme-space.ng-theme-top-15 { margin-top:15px; }
.ng-theme-space.ng-theme-top-20 { margin-top:20px; }
.ng-theme-space.ng-theme-top-25 { margin-top:25px; }
.ng-theme-space.ng-theme-top-30 { margin-top:30px; }
.ng-theme-space.ng-theme-top-50 { margin-top:50px; }
.ng-theme-space.ng-theme-bottom-5 { margin-bottom:5px; }
.ng-theme-space.ng-theme-bottom-10 { margin-bottom:10px; }
.ng-theme-space.ng-theme-bottom-15 { margin-bottom:15px; }
.ng-theme-space.ng-theme-bottom-20 { margin-bottom:20px; }
.ng-theme-space.ng-theme-bottom-25 { margin-bottom:25px; }
.ng-theme-space.ng-theme-bottom-30 { margin-bottom:30px; }
.ng-theme-space.ng-theme-bottom-50 { margin-bottom:50px; }
body md-card.ng-theme-card{
  border-radius: 2px;
}
md-sidenav.sidenav-panel {
  overflow-x: hidden;
  width: 20rem;
  background-color: #f5f5f5!important;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.link-toggle {
  display: flex;
  padding-left: 10px;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  height: 48px;
}
.link-toggle .link {
  padding-left: 26px;
}
.mat-nav-list .mat-list-item.open>.mat-list-item-content {
  display: block;
  height: auto;
  opacity: 1;
  overflow: hidden;
  animation: open 1s;
  padding: 0;
  background: rgba(0,0,0,.04);
}
.mat-nav-list .mat-list-item.ng-close>.mat-list-item-content {
  display: block;
  height: auto;
  opacity: 1;
  overflow: hidden;
  animation: close 0.5s;
  padding: 0;
}
@keyframes close {
  from {
    background: rgba(0,0,0,.04);
    max-height: 1000px;
  }
  to {
    max-height: 48px;
  }
}

@keyframes open {
  from {
    max-height: 48px;
  }
  to {
    background: rgba(0,0,0,.04);
    max-height: 1000px;
  }
}

md-sidenav.sidebar-panel .mat-list-item .mat-list-item-content {
  display: block!important;
  height: auto;
  max-height: 48px;
  overflow: hidden!important;
  padding: 0!important;
  transition: max-height .3s cubic-bezier(.35,0,.25,1)!important;
}

.material{
  position:relative;
  color:white;
  height:500px;
  width:100%;
  border: none;
  outline:none;
  margin: 20px auto;
  background: #509c81;

}
.ripple{
  overflow:hidden!important;
  /*cursor: pointer;*/
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 3s;
  float: left;
}


@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.2;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
